.venv/
__pycache__/
*.pyc
node_modules/
electron-app/dist/
electron-app/node_modules/
electron-app/.cache/
electron-app/out
electron-app/*.pak
electron-app/*.log
electron-app/*.tmp
pythonapi/build/
pythonapi/*.egg-info/
bin/
*.exe
msys64/
